<p id="notice"><%= notice %></p>

<h1>Users</h1>
<%= @user%>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  

<br>

<%= link_to 'New User', new_user_path %>

<%= link_to 'Destroy User', @user, method: :delete %>
