<div class="container">
    <div class="row">
        <div class="col">
            <div class="w-50 m-auto">
            <h1>Login or Create account</h1>

            <%= render 'form', user: @user %>

            <%= link_to 'Back', users_path%>
            </div>
                
        </div>
    </div>
</div>
