<p id="notice"><%= notice %></p>

<div class="container">

  <div class="row">
    <h2 class="col"> Upcoming Events</h2>
  </div>
  <div class="row">
    <% @user.upcoming_events.each do |event| %>
      <%= render 'events/event', event: event %>
    <% end %>
  </div>
</div>

<div class="container">

  <div class="row">
    <h2 class="col"> Previous Events</h2>
  </div>
  <div class="row">
    <% @user.previous_events.each do |event| %>
      <%= render 'events/event', event: event %>
    <% end %>
  </div>
</div>
<%= link_to 'Back', users_path %>
