

<div class="container">

  <div class="row">
    <h2 class="col"> Upcoming Events</h2>
  </div>
  <div class="row">
    <% @events.upcoming_events.each do |event| %>
      <%= render 'event', event: event %>
    <% end %>
  </div>
</div>

<div class="container mt-4">

  <div class="row">
    <h2 class="col"> Previous Events</h2>
  </div>
  <div class="row">
    <% @events.previous_events.each do |event| %>
      <%= render 'event', event: event %>
    <% end %>
  </div>
</div>

