<div class="container">
    <div class="row">
        <div class="col">
         <div class="w-50 m-auto">
         <h1>New events</h1>

            <%= render 'form', event: @event %>
         </div>
        </div>
    </div>
</div>
